@model EventsSchedule.Web.ViewComponents.Models.GetAllCategoriesViewModel

<option selected disabled>Choose Category</option>
@foreach (var category in Model.Categories)
{
    <option value="@category.Id">@category.Name</option>
}
