@model EventsSchedule.Web.ViewModels.CreateEventModel
@using EventsSchedule.Data.Models.Enums

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Създай своето събитие</h1>
<div class="row">
</div>
<form asp-controller="Events" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col">
            <div class="col-md-6" enctype="multipart/form-data">
                <partial name="_AddEvent" />        
            </div>
            <div class="col-md-6 d-flex flex-column" enctype="multipart/form-data">
                    <partial name="_AddOrganizer" />
                    <partial name="_AddAddress" />
            </div>
        </div>
    </div>
<button type="submit" class="btn btn-primary">Създай събитие</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
