@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about-us">
    <div class="title-start col-md-4 col-md-offset-4">
        <br />
        <h2>За нас</h2>
        <p class="sub-text text-center">Научи нашата история</p>
    </div>
    <div class="container">
        <div class="about-first">
            <div class="block col-md-4">
                <div class="content-block">
                    <i class="fa fa-users fa-3x"></i>
                    <h3>Откриване на нови приятели</h3>
                    <p>Ще ви помногнем да се срещнете с много хора и да създадете нови приятелства.</p>
                </div>
            </div>
            <div class="block col-md-4">
                <div class="content-block">
                    <i class="fa fa-rocket fa-3x"></i>
                    <h3>Нови преживявания</h3>
                    <p>Възможност да откриеш както информация за лекции и семинари, така и разнообразие от забавления.</p>
                </div>
            </div>
            <div class="block col-md-4">
                <div class="content-block">
                    <i class="fa fa-trophy fa-3x"></i>
                    <h3>Сподели мнението си и оцени</h3>
                    <p>Сподели бил ли си на предишно събитие на дадения изпълнител или лектор и какво е било преживяването.</p>
                </div>
            </div>
        </div>
        <div class="about-part">
            <div class="col-md-8">

                <h3>За нас</h3>
                    
                <p>
                    Целта ни е скучаещите и търсещи нови възможности да запълнят свободното си време. Това става като както ние, така и вие споделяме информация за разнообразни събития като концерти, театри, конференции, семинари, фестивали, партита за деца и възрастни и т.н.
                </p>
            </div>
        </div>
    </div>
</section>



