@{
    this.ViewData["Title"] = "Privacy Policy";
}

    <div>
        <h1 class="p-5">ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ НА „Events Schedule“</h1>

        <p>
            Полагаме необходимата грижа към Вашите лични данни. С тази политика искаме да Ви информираме за личните данни, които събираме, за какво ги използваме и как ги пазим.
        </p>
        <p>
            Кои сме ние?
        </p>
        <p>
            Ние сме „Events Schedule“, дружество, регистрирано в България под номер 1314480060000, със седалище и адрес на управление София, България /по-долу в тази Политика, наричана накратко "Events Schedule"/.
        </p>
        <p>
            Ние сме администратор на Вашите лични данни и като такъв отговаряме за обработката и съхранението на данните Ви по справедлив, прозрачен и сигурен начин.
        </p>
        <p>
            Какви лични данни събираме?
        </p>
        <p>
            Вие ни предоставете следните Ваши лични данни: • Име; • Адрес за доставка или Домашен адрес /незадължително/; • Телефонен номер; • Електронна поща.
        </p>
        <p>
            Oбработваме информация за общо ползване, която ни помага да разберем как използвате нашите услуги, включително търсения и задаване на предпочитания при търсене, водене на отчетност на търсенията, които сте правили в нашия уебсайт и за сърфирането Ви в нея (включително IP адрес, време на посещение, посетени страници, интерактивност на отделните страници, ограничена информация за местоположението, устройството и софтуера на потребителя, първоначално или повторно посещение на страницата, информация за източника на трафик).
        </p>
        <p>
            Обикновено тази информация събираме автоматично посредством използването на „бисквитки“. За повече информация, моля, вижте нашата Политика за бисквитки
        </p>
        <p>
            Дружеството се ангажира да запази поверителността на информацията, свързана с Вас, и да спазва всички законови изисквания относно споделянето и разкриването на тази лична информация. Подобно разкриване на данни се осъществява само при наличие на основателна причина за това и достатъчно гаранции за осигуряване на адекватно ниво на защита. Дружеството може да разкрие Вашите лични данни на следните получатели, когато това е законно и/или необходимо, например: • Доставчици на услуги по съхранение на бази данни; поддръжка и анализ на интернет страницата ни, както и на информационните ни системи и технологии; • Доставчици на пощенски и куриерски услуги; • Партньорски билетни каси; • Централни и местни органи и други публични органи (напр. НАП, НОИ); органи за предотвратяване и разкриване на престъпления и регулаторни органи, които имат правомощия да изискват информация от нас; • Нашите адвокати, професионални консултанти и одитори.
        </p>
        <p>
            Вашите данни извън Европейската икономическа зона
            Ако получателите на вашите данни се намират извън ЕС, ние ще предоставим подходящи гаранции, че данните ви се обработват с дължимите грижа и внимание, които биха се изисквали от получател, базиран в ЕС. Такива прехвърляния ще бъдат предмет на обвързващи корпоративни правила, стандартни клаузи за защита на данните, приети от Европейската комисия, както и всеки друг механизъм за защита на данните, който взема предвид вашите права.
        </p>
        <p>
            Моля, имайте предвид, че Информацията за общо ползване, събрана автоматично чрез някои от използваните от уебсайта бисквитки, може да бъде прехвърлена на сървър на Google в САЩ, тъй като за анализирането на тази информация използваме Google Analytics - уеб услуга на Google LLC ("Google").
        </p>
        <p>
            От наше име, Google ще използва тази информация, за да оцени ползването и състави отчети относно функционалността и посещаемостта на уебсайта и да ни предостави допълнителни услуги, свързани с неговата.
        </p>
        <p>
            Период, за който се съхраняват личните данни ? Ще съхраняваме и обработваме Вашите данни за период, не по-дълъг от необходимото за осъществяване на целите, за които същите са събрани, или на съвместими с тях цели. Например: • Обработваме данните въз основа на Вашето съгласие докато не оттеглите това съгласие; • Използваме Вашите данни въз основа на нашите законни интереси, най-много дотолкова, доколкото това обработване не надхвърля Вашите права и интереса същите да бъдат изтрити или анонимизирани. • Използваме данните Ви за изпълнение на договор, най-много толкова дълго, колкото договорното взаимоотношение с Вас е в сила, или докато се прилагат законовоустановените срокове в случай на спорове във връзка с предоставените от нас услуги.
            Също така личните данни се съхраняват в личния Ви акаунт за неопределен период от време. Можете лесно да редактирате личните си данни по всяко време /освен имейла, който служи като постоянен идентификатор на клиента в нашата система/ и можете да заявите деактивирането на акаунта си в нашия уеб магазин по всяко време, като се свържете с нашия екип.
        </p>
        <p>
            След като профилът ви бъде деактивиран, ще изтрием всичките ви лични данни, съхранявани в нашия уеб сайт. Личните данни от акаунта ви обаче ще бъдат съхранявани в архива на фирмата ни за случаи на евентуални съдебни искове или административни процедури в рамките на период от 5 години от датата на събитието, за което сте закупили последния билет чрез акаунта си.
        </p>
        <p>
            Как Дружеството защитава личните данни?
            Дружеството ще предприеме всички необходими действия и мерки, за да гарантира сигурността на личните данни и да избегне неоторизирания достъп до тях, както и тяхното събиране, използване, разкриване, копиране, изменяне, разпореждане, изтриване или друга неправомерна употреба на данните от страна на неупълномощени лица. Всички ваши лични данни ще бъдат пренасяни чрез SSL (защитен гнездови слой) при 128-битово криптиране (високо) (RSA при 1024 скорост на данните) и поради това трети лица не биха могли да злоупотребят с тях.
        </p>
        <p>
            Вашите права за защита на личните данни Вие, субектът на данните, имате следните права:
        </p>
        <p>
            Право на достъп до личните Ви данни: да знаете дали обработваме Ваши лични данни, какви категории, за какви цели и на кого ги разкриваме;
        </p>
        <p>
            Право да поискате актуализиране (коригиране) на непълни, неточни, неуместни или остарели данни. Освен това може да ограничите обработването, ако: обработваме Вашите лични данни без правно основание; след осъществяване на целите, за които са били събрани; ако сте възразили срещу обработването на основание „легитимен интерес“. В този случай ние няма да ги обработваме (с изключение на нейното съхранение), докато не проверим това твърдение.
        </p>
        <p>
            Право да възразите срещу: изцяло автоматизирано вземане на решения, включително профилиране; при наличие на друго законово основание; когато обработването се осъществява на основания нашия легитимен интерес или когато е за целите на директния маркетинг.
        </p>
        <p>
            Право да поискате да изтрием Вашите лични данни, но е възможно да сме законово задължени да съхраняваме тази информация и да не я изтриваме (или да ограничим обработването за известен период от време, като в такъв случай ще се съобразим с искането за изтриване едва след като сме изпълнили тези изисквания).
        </p>
        <p>
            Право да поискате данните, които съхраняваме за Вас, да Ви бъдат предоставени в общоизползван формат, подходящ за четене от машина (напр. компютър), и/или да бъдат предадени на друга организация, но само когато обработваме данните Ви въз основа на договор или Вашето съгласие и обработването се извършва автоматично.
        </p>
        <p>
            Ако смятате, че Вашите права на неприкосновеност и защита на личните данни са нарушени, можете да се обърнете към българската Комисия за защита на личните данни.
        </p>
        <p>
            Как да упражните правата си? За да упражните някое от правата си, можете да се свържете на данните за контакт с нас по телефон, на електронната поща на Дружеството, да изпратите писмо по пощата или да попълните формуляр на място в офиса ни. Ще отговорим на всяко искане за достъп до лични данни не по-късно от един месец след подаването му в електронна форма, освен ако не посочите друг предпочитан от Вас начин.
        </p>
        <p>
            Можете също така да изпратите Вашето искане до длъжностното лице по защита на данните (ДЗЗД) на компанията.
        </p>
        <p>
            Вашето писмено искане следва да включва: • Вашето име; • Имейл адреса, с който сте регистрирани в личния си профил; • Предпочитана форма за комуникация (напр. обикновена или електронна поща); • Подпис (в случай на подаване на хартия); • Дата на искането; • Адрес за кореспонденция; • Пълномощно – ако искането е подадено от името на някой друг.
        </p>
        <p>
            Дружеството може да поиска да предоставите допълнителна информация, необходима за потвърждаването на самоличността Ви, (напр. като натиснете линк за потвърждение или като предоставите код за потвърждение), за да упражните правата си.
        </p>
        <p>
            Промяна на тази политика за поверителност.
            Ще Ви уведомим за всякакви промени на тази Политика за поверителност чрез публикуване на актуалната й версия на уебсайта ни.
        </p>
        <p>
            Последна дата на актуализация: 27 март 2020 г.
        </p>
    </div>