
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="team" class="team">
    <div class="container">
        <div class="title-start team-menu col-md-4 col-md-offset-4" style="margin-top: 0;">
            <h2 class="team-heading">Нашият екип</h2>
            <p class="sub-text text-center">Срещнете най-страхотния екип</p>
        </div>
    </div>
    <div class="team-member row">
        <div class="col-md-3 col-sm-6 member">
            <img class="blog-image" src="https://res.cloudinary.com/deni01vxb/image/upload/v1587679569/team1_pk3dya.jpg" width="100%" height="280" alt="Blog Image 2" />
            <p class="name-member">Иван Иванов, CEO</p>
            <ul class="team-ist">
                <li>CSS3 </li>
                <li>HTML5 </li>
                <li>Adobe</li>
            </ul>
            <div class="team-social">
                <i class="fa fa-2x fa-tumblr-square"></i>
                <i class="fa fa-2x fa-facebook"></i>
                <i class="fa fa-2x fa-twitter"></i>
                <i class="fa fa-2x fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 member">
            <img class="blog-image" src="https://res.cloudinary.com/deni01vxb/image/upload/v1587679609/team2_tbdmue.jpg" width="100%" height="280" alt="Blog Image 2" />
            <p class="name-member">Георги Георгиев, Head of Ideas</p>
            <ul class="team-ist">
                <li>CSS3 </li>
                <li>HTML5 </li>
                <li>Adobe</li>
            </ul>
            <div class="team-social">
                <i class="fa fa-2x fa-tumblr-square"></i>
                <i class="fa fa-2x fa-facebook"></i>
                <i class="fa fa-2x fa-twitter"></i>
                <i class="fa fa-2x fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 member">
            <img class="blog-image" src="https://res.cloudinary.com/deni01vxb/image/upload/v1587679619/team3_le7hbw.jpg" width="100%" height="280" alt="Blog Image 2" />
            <p class="name-member">Катя Петрова, Chief Developer</p>
            <ul class="team-ist">
                <li>CSS3 </li>
                <li>HTML5 </li>
                <li>Adobe</li>
            </ul>
            <div class="team-social">
                <i class="fa fa-2x fa-tumblr-square"></i>
                <i class="fa fa-2x fa-facebook"></i>
                <i class="fa fa-2x fa-twitter"></i>
                <i class="fa fa-2x fa-linkedin"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 member">
            <img class="blog-image" src="https://res.cloudinary.com/deni01vxb/image/upload/v1587679628/team4_lrkksj.jpg" width="100%" height="280" alt="Blog Image 2" />
            <p class="name-member">Петър Петров, Event Manager</p>
            <ul class="team-ist">
                <li>CSS3 </li>
                <li>HTML5 </li>
                <li>Adobe</li>
            </ul>
            <div class="team-social">
                <i class="fa fa-2x fa-tumblr-square"></i>
                <i class="fa fa-2x fa-facebook"></i>
                <i class="fa fa-2x fa-twitter"></i>
                <i class="fa fa-2x fa-linkedin"></i>
            </div>
        </div>
    </div>
</section>

