@model EventsSchedule.Web.ViewComponents.Models.GetAllCitiesViewModel

<option selected disabled>Избери град</option>
@foreach (var city in Model.Cities)
{
    <option value="@city.Id">@city.Name</option>
}
