@model EventsSchedule.Web.ViewModels.CreateEventModel

<div class="col-sm-4">
    <div class="select form-group">
        <label>City</label>
        <select asp-for="City.Name" data-placeholder="Choose City" class="chosen-select-no-single form-control">
            <vc:cities></vc:cities>
        </select>
        <span asp-validation-for="City.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Building"></label>
        <input asp-for="Building" class="form-control" />
        <span asp-validation-for="Building" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Entrance"></label>
        <input asp-for="Entrance" class="form-control" />
        <span asp-validation-for="Entrance" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor"></label>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apartment"></label>
        <input asp-for="Apartment" class="form-control" />
        <span asp-validation-for="Apartment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="District"></label>
        <input asp-for="District" class="form-control" />
        <span asp-validation-for="District" class="text-danger"></span>
    </div>
</div>