@model EventsSchedule.Web.ViewModels.CreateEventModel

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-4">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactName"></label>
        <input asp-for="ContactName" class="form-control" />
        <span asp-validation-for="ContactName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrganizerDescription"></label>
        <input asp-for="OrganizerDescription" class="form-control" />
        <span asp-validation-for="OrganizerDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WebSite"></label>
        <input asp-for="WebSite" class="form-control" />
        <span asp-validation-for="WebSite" class="text-danger"></span>
    </div>
</div>