@model EventsSchedule.Web.ViewModels.Addresses.AddressInputModel

<h2 class="p-2">Адрес на събитието</h2>
<div class="w-100">
    <div class="select form-group">
        <label for="CityId">Град</label>
        <select asp-for="CityId" data-placeholder="Choose City" class="custom-select-lg form-control border border-dark">
            <vc:cities></vc:cities>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdditionalInformation"></label>
        <input asp-for="AdditionalInformation" class="form-control" />
        <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
    </div>
</div>