<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event - Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    
    <!--== CSS Files ==-->
    <link href="~/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/css/style.css" rel="stylesheet" media="screen">
    <link href="~/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="~/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="~/css/flexslider.css" rel="stylesheet" media="screen">
    <link href="~/css/fancySelect.css" rel="stylesheet" media="screen">
    <link href="~/css/responsive.css" rel="stylesheet" media="screen">

    <!--== Google Fonts ==-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom box-shadow mb-1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Events Schedule</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About" title="За нас">За нас</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Team" title="Нашият екип">Нашият екип</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts" title="Контакти">Контакти</a>
                            </div>
                        </li>
                        <vc:navbar></vc:navbar>
                        <li>
                            <div class="nav-element">
                                <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="GetAll" title="Новини">Новини</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-info" style="margin-top:auto; position: fixed; left: 0; bottom: 0;">
        <div class="container">
            &copy; 2020 - EventsForAll - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--== Javascript Files ==-->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.accordion.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/gmap3.js"></script>
    <script src="js/fancySelect.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#testimonial-container").owlCarousel({

                navigation: false, // Show next and prev buttons
                slideSpeed: 700,
                paginationSpeed: 400,
                singleItem: true,
            });

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
