@model EventsSchedule.Web.ViewModels.Reviews.ListReviewsViewModel
@{
    ViewData["Title"] = "ListReviews";
}

<h1>ListReviews</h1>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Container, Row, and Column used for illustration purposes -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

            <!-- Fluid width widget -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-comment"></span>
                        Recent Comments
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        @if (Model.Reviews.Count == 0)
                        {
                            <div class="single-review">
                                <div class="review-body">
                                    <p>
                                        Няма ревюта.
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var review in Model.Reviews)
                            {
                                <li class="media">
                                    <div class="media-left">
                                        <img src="http://placehold.it/60x60" class="img-circle">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            @review.Username
                                            <br>
                                            <small>
                                                commented on <a href="#">@review.EventTitle</a>
                                            </small>
                                        </h4>
                                        <p>
                                            @review.Comment
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    @if(Model.Reviews.Count > 0)
                    {
                        <a asp-controller="Reviews" asp-action="ListAllReviews" class="btn btn-default btn-block">Всички коментари »</a>
                    }
                </div>
            </div>
            <!-- End fluid width widget -->
        </div>
    </div>
</div>
