@using Microsoft.AspNetCore.Identity
@using EventsSchedule.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <div class="nav-element">
                <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Schedule" title="Събития">Събития</a>
            </div>
        </li>
        <li>
            <div class="nav-element">
                <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Blog" title="Блог">Блог</a>
            </div>
        </li>
        <li class="nav-item">
            <div>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link font-weight-bolder">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </div>
        </li>
        <li class="nav-item">
            <div>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
            </div>
        </li>
    }
</ul>
